@use "../../styles/sass/variables/colors";

.login-form {
  width: 100%;
  max-width: 500px;
  height: 250px;
  left: 36px;
  top: 321px;
  background: colors.$white;
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  &--input {
    font-family: inherit;
    width: 80%;
    height: 35px;
    border: none;
    border-bottom: solid 1px;
    padding-left: 5px;
    margin-top: 20px;
    &:focus {
      outline: none;
      border-bottom: solid 1px colors.$primary;
    }
  }

  &--logo {
    width: 65px;
  }

  button {
    margin-top: 20px;

    &:disabled {
      background: colors.$button-disabled;
    }
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$white;
  width: 95px;
  height: 70px;
  border-radius: 29px 29px 0px 0px;
  position: relative;
  bottom: -10px;
}
