@use "../../styles/sass/variables/colors";

button {
  width: 170px;
  height: 45px;
  background: colors.$primary;
  border-radius: 14px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: colors.$white;
  border: none;
  cursor: pointer;
}
