@use "../../styles/sass/variables/colors";
@use "sass:map";

.login-register-button {
  width: 170px;
  height: 45px;
  background: map.get(colors.$layout, "button-background");
  border-radius: 14px;
  font-style: normal;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  color: map.get(colors.$text, "button-text");
  border: none;
  cursor: pointer;
}
