@use "../../styles/sass/variables/colors";
@use "sass:map";

.user {
  width: 100%;
  max-width: 324px;
  min-width: 200px;
  min-height: 324px;
  background: map.get(colors.$layout, "post-background");
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
  justify-content: space-evenly;
  transition: all ease-in-out 0.2s;
  cursor: pointer;

  @media (min-width: 310px) {
    min-width: 300px;
  }

  &:hover {
    box-shadow: rgba(230, 43, 112, 0.4) 0px 5px,
      rgba(230, 43, 112, 0.3) 0px 10px, rgba(230, 43, 112, 0.2) 0px 15px,
      rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  }

  &__username {
    justify-self: center;
    min-height: 30px;
    font-size: 18px;
    line-height: 21px;
    color: map.get(colors.$text, "post-title");
  }

  &__name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 21px;
    color: map.get(colors.$text, "post-author");
  }

  &__email {
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: map.get(colors.$text, "post-body");
    overflow: hidden;
  }
  &__company {
    font-style: normal;
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 0px;
    color: map.get(colors.$text, "post-title");
  }

  &__action {
    cursor: pointer;
  }

  .actions {
    &-container {
      height: 50px;
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .action-button {
        background: transparent;
        border: none;
      }
    }
  }
}
