@use "../../styles/sass/variables/colors";
@use "sass:map";

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: -2px;
  z-index: 2;

  @media (min-width: 769px) {
    display: none;
  }

  &-menu {
    position: absolute;
    top: 0;
    right: -100vw;
    min-height: 100vh;
    width: 50vw;
    background-color: map.get(colors.$layout, "menu-background");
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--open {
      position: absolute;
      top: 0;
      right: 0;
      min-height: 100vh;
      width: 50vw;
      background-color: map.get(colors.$layout, "menu-background");
      transition: all ease-in-out 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;

      .logout__text--hamburger {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 16px;
        text-align: center;
        padding-left: 20px;
        color: map.get(colors.$text, "navbar-active");
        cursor: pointer;

        &:hover,
        &:hover ~ button {
          text-decoration-line: underline;
          text-decoration-color: colors.$primary;
        }
      }

      .hamburger-menu__blur {
        position: fixed;
        top: 0;
        right: 50vw;
        min-height: 100vh;
        opacity: 100;
        width: 50vw;
        background-color: rgba(0, 1, 71, 0.68);
        transition: all ease-in-out 0.3s;
      }
    }

    &__blur {
      position: fixed;
      top: 0;
      right: -50vw;
      min-height: 100vh;
      opacity: 0;
      width: 50vw;
      background-color: rgba(0, 1, 71, 0.68);
      transition: all ease-in-out 0.3s;
    }

    &__toggler {
      z-index: 2;
      height: 30px;
      width: 30px;
      position: absolute;
      cursor: pointer;
      top: 0;
      right: -5px;
      opacity: 0;

      &:checked ~ .hamburger {
        &__meat {
          opacity: 0;
          transition: all 0.2s;
        }
        &__bread {
          &--top {
            top: 10px;
            transform: rotate(45deg);
            transition: all 0.3s;
          }
          &--bottom {
            top: -8px;
            transform: rotate(135deg);
            transition: all 0.3s;
          }
        }
      }
    }
  }

  &__bread {
    &--top {
      top: 0px;
      left: 0px;
      position: relative;
      background-color: map.get(colors.$layout, "hamburger-background");
      height: 3px;
      width: 27px;
      margin-top: 6px;
      transition: all 0.4s;
    }
    &--bottom {
      top: 0px;
      left: 0px;
      position: relative;
      background-color: map.get(colors.$layout, "hamburger-background");
      height: 3px;
      width: 27px;
      margin-top: 6px;
      transition: all 0.4s;
    }
  }

  &__meat {
    background-color: map.get(colors.$layout, "hamburger-background");
    height: 3px;
    width: 27px;
    margin-top: 6px;
    transition: all 0.2s;
  }

  &__navlink-container {
    flex: 1;
    padding-left: 100px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    width: 100%;

    @media (max-width: 769px) {
      padding-left: 0px;
      margin-top: 80px;
    }

    .navlink {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      text-decoration-line: underline;
      text-decoration-color: transparent;
      color: colors.$background;
      transition: all ease-in-out 0.2s;

      @media (max-width: 769px) {
        font-size: 30px;
      }

      &:hover {
        text-decoration-line: underline;
        text-decoration-color: colors.$background;
      }
    }
    .navlink--active {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      text-decoration-line: underline;
      color: map.get(colors.$layout, "navbar-active");

      @media (max-width: 769px) {
        font-size: 30px;
      }

      &:visited {
        color: colors.$primary;
      }
    }
  }

  &__logout {
    &-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      .user-greeting {
        color: map.get(colors.$text, "post-title");

        font-size: 20px;
        font-weight: 700;
      }

      .logout-section {
        display: flex;
      }
    }

    &__text--hamburger {
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 16px;
      text-align: center;
      padding-left: 20px;
      color: map.get(colors.$text, "navbar-active");
      cursor: pointer;

      &:hover,
      &:hover ~ button {
        text-decoration-line: underline;
        text-decoration-color: colors.$primary;
      }
    }

    &__button {
      padding-top: 3px;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
