@use "../../styles/sass/variables/colors";
@use "sass:map";

.header {
  &__container {
    position: fixed;
    height: 47px;
    background: map.get(colors.$layout, "header-background");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;

    .navlink-container {
      flex: 1;
      padding-left: 100px;
      display: flex;
      gap: 50px;

      .navlink {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        text-decoration-line: underline;
        text-decoration-color: transparent;
        color: colors.$background;
        transition: all ease-in-out 0.2s;

        &:hover {
          text-decoration-line: underline;
          text-decoration-color: colors.$background;
        }
      }
      .navlink--active {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        text-decoration-line: underline;
        color: map.get(colors.$layout, "navbar-active");

        &:visited {
          color: colors.$primary;
        }
      }
    }
  }

  &__logo {
    height: 30px;
  }
}

.logout {
  &__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: map.get(colors.$text, "navbar-active");
  }
}
