@use "../../styles/sass/variables/colors";
@use "sass:map";

.detail-page {
  background: map.get(colors.$layout, "pages-background");
  min-height: 100vh;
  min-width: 100%;
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: map.get(colors.$text, "pages-title");
    width: 100%;
    max-width: 800px;
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    margin-top: 0px;
    padding-top: 10px;
    top: 47px;
    align-self: start;
    overflow-wrap: break-word;

    @media (max-width: 769px) {
      max-width: 300px;
      overflow-wrap: break-word;
    }

    &--edit {
      color: map.get(colors.$text, "pages-title");
      width: 100%;
      max-width: 800px;
      font-style: normal;
      font-size: 30px;
      line-height: 39px;
      margin-top: 0px;
      padding-top: 10px;
      top: 47px;
      align-self: start;
      overflow-wrap: break-word;

      @media (max-width: 769px) {
        max-width: 300px;
        overflow-wrap: break-word;
      }

      &__accent {
        color: map.get(colors.$text, "text-white");
      }
    }
  }

  &__author {
    color: map.get(colors.$text, "text-white");
    width: 100%;
    max-width: 800px;
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    margin-top: 0px;
    padding-top: 10px;
    height: 60px;
    align-self: start;
  }

  &__body {
    width: 100%;
    max-width: 800px;
    min-width: 200px;
    min-height: 324px;
    background: map.get(colors.$layout, "post-background");
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;

    &__text {
      margin-top: 0px;
    }

    &__button {
      background: transparent;
      border: none;
      align-self: flex-start;
      cursor: pointer;
    }

    &--edit {
      width: 100%;
      max-width: 800px;
      min-width: 200px;
      min-height: 324px;
      background: map.get(colors.$layout, "post-background");
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      padding: 25px 25px;
      justify-content: flex-start;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 23px;

      button {
        margin-top: 10px;
        align-self: center;
      }
    }
  }

  &--item {
    font-weight: 600;
    font-size: 20px;
  }

  .edit-form__title {
    border: 1px solid #000000;
    border-radius: 11px;
    min-height: 100px;
    font-family: inherit;
    font-style: normal;
    padding: 5px 5px;
    font-size: 20px;

    &--label {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      padding-left: 5px;
      padding-bottom: 5px;
      color: map.get(colors.$text, "text-placeholder");
    }
  }
  .edit-form__body {
    border: 1px solid #000000;
    border-radius: 11px;
    min-height: 255px;
    font-family: inherit;
    font-style: normal;
    padding: 10px 10px;
    font-size: 20px;

    &--label {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      margin-top: 20px;
      padding-left: 5px;
      padding-bottom: 5px;
      color: map.get(colors.$text, "text-placeholder");
    }
  }

  .post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
