@use "../../styles/sass/variables/colors";
@use "sass:map";

.post {
  width: 100%;
  max-width: 324px;
  min-width: 200px;
  min-height: 324px;
  background: map.get(colors.$layout, "post-background");
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
  justify-content: space-between;

  &__title {
    justify-self: center;
    min-height: 70px;
    font-size: 18px;
    line-height: 21px;
    color: map.get(colors.$text, "post-title");
  }
  &__author {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 21px;
    color: map.get(colors.$text, "post-author");
  }
  &__body {
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: map.get(colors.$text, "post-body");
    height: 90px;
    overflow: hidden;
  }
  &__action {
    cursor: pointer;
  }

  .actions {
    &-container {
      height: 50px;
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .action-button {
        background: transparent;
        border: none;
      }
    }
  }
}
