@use "../../styles/sass/variables/colors";
@use "sass:map";

.home-page {
  background: map.get(colors.$layout, "pages-background");
  min-height: 100vh;
  min-width: 100%;
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: map.get(colors.$text, "pages-title");
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    margin-top: 20px;

    align-self: start;
  }
}
