@use "../../styles/sass/variables/colors";
@use "sass:map";

.home-page {
  background: map.get(colors.$layout, "pages-background");
  min-height: 100vh;
  min-width: 100%;
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: map.get(colors.$text, "pages-title");
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    margin-top: 0px;
    padding-top: 10px;
    top: 47px;
    height: 60px;
    width: 100%;
    position: fixed;
    padding-left: 40px;
    left: 0;
    background: map.get(colors.$layout, "pages-background");
  }
}
