@use "../../styles/sass/variables/colors";

.home-page {
  background: colors.$background;
  height: 100vh;
  width: 100vw;
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: colors.$primary;
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    margin: 0px;
    align-self: start;
  }
}
