@use "../../styles/sass/variables/colors";
@use "sass:map";

.login-page {
  background-color: map.get(colors.$layout, "pages-background");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-around;

  &__title {
    color: map.get(colors.$text, "pages-title");
    font-style: normal;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
  }
  &__links {
    &__container {
      color: map.get(colors.$text, "login-links");
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      transition: all ease-in-out 0.2s;
    }

    &__text {
      text-decoration: none;
      transition: all ease-in-out 0.2s;

      &:visited {
        color: map.get(colors.$text, "login-links");
      }

      &:hover {
        text-decoration: underline;
        color: map.get(colors.$text, "pages-title");
      }
    }
  }
}
